<div class="contact">
    <div class="leftOuter">
        <div class="leftinner">
        <h1 class="fpoppins">GIVE US A SHOUT</h1>
        <h4 class="fpoppins">500 Terry Francois Street, 6th Floor. San Francisco, CA 94158</h4>
        <h5 class="fpoppins">info@mysite.com</h5>
        <h5 class="fpoppins">123-456-7890</h5>
    </div>
</div>
    
    <div class="rightOuter">
        <div class="rightInner">
            <form class="contactForm">
                <input type="text" name="Name" class="input w fpoppins seethrough" placeholder="Name">
                <input type="text" name="Address" class="input w fpoppins seethrough" placeholder="Address">
                <div class="rightinnercenter">
                    <input type="email" name="Email" class="input n fpoppins seethrough" placeholder="Email">
                    <input type="text" name="Phone" class="input n fpoppins seethrough" placeholder="Phone">
                </div>
                <input type="text" name="Subject" class="input w fpoppins seethrough" placeholder="Subject">
                <textarea name="message" cols="30" rows="10" class="seethrough"></textarea>
                <input type="submit" name="submit" id="submitBtn">
            </form>
        </div>
    </div>


