.favoritesPage{
    padding-bottom: 25px;
}

.favoriteProduct{
    display: flex;
    flex-direction: column;
    margin: 5px;
    max-height: 40px;
}

.removefavorites{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color:rgb(97,96,87);
    padding: 10px;
    width: 300px;
    margin-top: 5px;
    align-items: center;
    font-size: large;
}

.removefavorites:hover {
    background: red;
    color : #fff ;
}
