<header class="indexHeader">
    <div class="logo fpoppins">
       E-commerce Store
    </div>
    <div class="menu fpoppins">
        <ul>
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="shop">Shop</a></li>
            <li><a routerLink="policies">Policies</a></li>                
            <li><a routerLink="contact">Contact</a></li>
            <li><a routerLink="about">About</a></li>
            <li>
                <i class="fa fa-user-circle" id="userIcon" aria-hidden="true" data-Icon>
                    <div class="userBar" id="userBar" data-Bar>
                        <div class="userBarMenu fpoppins" data-Bar>
                            <div class="menuLeft">
                                <a routerLink="login" class="menuTags fpoppins">Login</a>
                                <a routerLink="myorders" class="menuTags fpoppins">My Orders</a>
                                <a routerLink="favorites" class="menuTags fpoppins">Favorites</a>
                            </div>
                            <div class="menuRight">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                <i class="fas fa-box    "></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>


                            </div>
                        </div>
                    </div>
                </i>
                
            </li>
            <li class="cartI"><a  routerLink="cart"><i class="fa-solid fa-bag-shopping fa-2x cart-icon"><span>{{totalCartItems}}</span></i></a></li>            </ul>
       

    </div>
</header>
