<body id="loginBody" class="fpoppins">
    <body class="loginMain">
        <h1>Welcome to <br><span>E-COMMERCE</span><br>Store</h1>
        <p class="par fpoppins">Our passion for excellence has driven us from the beginning, and continues to drive us into the future.<br>
            Check out our store and special offers, and get in touch with questions or requests.</p>
        <button class="loginLearnMore"><a href="#">Learn More</a></button>


        <div class="login-form">
            <h2>Login Here</h2>
            <input type="email" name="email" placeholder="Enter your email here">
            <input type="password" name="" placeholder="Enter your password here">
            <button class="login-btn"><a href="#">Login</a></button>
            
            <p class="login-link">Don't have an account?<br>
            <a href="#">Sign up</a></p>
            <p class="link-with"> Or Login with</p>

            <div class="login-icons">
                <a><i class="fa-brands fa-facebook"></i></a>
                <a><i class="fa-brands fa-instagram"></i></a>
                <a><i class="fa-brands fa-twitter"></i></a>
                <a><i class="fa-brands fa-google"></i></a>

        </div>
            
    </div>
</body>