<body id="loginBody" class="fpoppins">
    <body class="loginMain">
        <h1>Welcome to <br><span>E-COMMERCE</span><br>Store</h1>
        <p class="par fpoppins">Our passion for excellence has driven us from the beginning, and continues to drive us into the future.<br>
            Check out our store and special offers, and get in touch with questions or requests.</p>
        <button class="loginLearnMore"><a href="#">Learn More</a></button>


        <div class="login-form" [formGroup]="login">
            <h2>Login Here</h2>
            <input type="email" name="email" placeholder="Enter your email here" formControlName="email">
            <input type="password" name="" placeholder="Enter your password here" formControlName="password">
            <button class="login-btn" (click)="loginSubmit(login.value)" [disabled]="login.invalid">Login</button>
            
            <p class="login-link">Don't have an account?<br>
            <a routerLink="/register">Sign up</a></p>
            
            
    </div>
</body>