<div class="outerContainer">
    <div class="container fpoppins">
        <div class="bestsellertag">best seller</div>
        <img [src]="Image" alt="I Am A Product">
    </div>
    <div class="star">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </div>
    <h3 class="fpoppins">{{Name}}</h3>
    <h4 class="fpoppins">EGP {{Price}}</h4>
    <button class="jQuickView fpoppins">Quick View</button>
</div>
