<main class="indexMain">
    <div class="cart-container">
        <div class="cartInfo fpoppins">
            <h5 class="title">Product</h5>
            <h5 class="cart-price">Price</h5>
            <h5 class="quantity">Quantity</h5>
            <h5 class="total">Total</h5>
        </div>
        <div class="addedProducts">
            <div class="emptyCart fpoppins">
                <i class="fa-solid fa-cart-shopping fa-8x"></i>
                <h1>Your cart is empty</h1>
                <h4>Looks like you have not added anything to your cart.</h4>
                    <h4>Go ahead & explore our shop.</h4>
            </div>
        </div>
    </div>
</main>

