<body>
    <div class="yourOrders fpoppins">
        <h1>Quick review of your past order</h1>
    </div>


<div class="myOrders fpoppins">
    <div class="orderContainer">
        <span>
            <div class="orderS">
                <h2>Order:   </h2>
                <h2 class="orderSC">3x56Dy</h2>
            </div>
            <div class="orderS">
                <h2>Expected Arrival:</h2>
                <h2 class="orderSC">13/2/2022</h2>
            </div>
        </span>
        <div class="orderItems">
            <h4>1x watch  EGP 150.00</h4>
            <h4>2x Hoodie  EGP 100.00</h4>
            <h4>1x Frame  EGP 85.00</h4>
        </div>
            <div class="orderS">
                <h3>Total: </h3>
                <h3>EGP 435.00</h3>
            </div>


            <div class="track">
                <ul class="progress">
                    <li class="active"><i class="fa-solid fa-check"></i></li>
                    <li class="active"><i class="fa-solid fa-check"></i></li>
                    <li class="active"><i class="fa-solid fa-check"></i></li>
                    <li><i class="fa-solid fa-check"></i></li>
                </ul>
            </div>

            <div class="myOrdersStatus">
                <div class="statusCheck">
                    <i class="fa-solid fa-check-to-slot fa-3x"></i>
                    <p>Accepted</p>
                </div>
                <div class="statusCheck">
                    <i class="fa-solid fa-dolly fa-3x"></i>
                    <p>Shipping</p>
                </div>
                <div class="statusCheck">
                    <i class="fa-solid fa-truck-fast fa-3x"></i>
                    <p>On its Way</p>
                </div>
                <div class="statusCheck">
                    <i class="fa-solid fa-house-chimney fa-3x"></i>
                    <p>Arrived</p>
                </div>
            </div>
    </div>
    <div class="myOrdersContact">
        <p>For more details about this order status</p>
        <a href="contact.html">Contact us</a>
    </div>
</div>        
</body>