<div class="product fpoppins ">
    <img [src]="productImage" alt="I Am A Product">
    <div class="star">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </div>
    <span>
        <h3>{{productName}}</h3>
        <i class="fa-solid fa-heart fa-2x"></i>
    </span>
        <h4>EGP {{productPrice}}</h4>
    <button class="QuickView btn addToCart">Add To Cart</button>
    <button class="QuickView removefavorites">Remove from favorites</button>
</div>